{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%}
users page

{% endblock %}
{% block content %}
<h1> My Networks page</h1>

{% for network in networks %}
<div class="row">
    <div class="col-2" style="margin-top: 15px;">
        <img src="{{network.photo.url}}" alt="" style="width:180px; height:180px; border-radius:50%">
    </div>
    
    <div class="col-3">
        <br><br>
        <p ><b>{{network.username}}</b></p>
        <p><i>{{network.email}}</i></p>
    </div>
    <div class="col">

        <a  class="btn btn-outline-primary" >Send Request</a>
        {% comment %} <button class="btn btn-outline-secondary">Ignore </button>
        <button class="btn btn-outline-primary">Accept </button> {% endcomment %}
    </div>

</div>
{% endfor %}



{% endblock %}

