{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }
    .card {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        margin: 300px;
        width: 300px;
        overflow: hidden;
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    .card-img-top {
        
        height: 300px;
        width: 700px
        object-fit: cover;
    }
    .card-body {
        padding: 20px;
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }
    .btn {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .btn:hover {
        background-color: #0056b3;
    }
</style>
</head>
<body>
<h1 style="text-align: center;">Locations</h1>
<div class="container">
    <div class="row mb-3 mt-4">
        <div class="col-4">
            <form action="" method="get" class="d-flex">
                <input type="text" class="form-control me-1" style="width: 800px; height: 50px;" placeholder="Search" name="q" value="{{ search_query }}">
                <button class="btn btn-primary">Search</button>
            </form>
            
            
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% else %}
        
    {% endif %}
    {% if places %}
        {% for place in places %}
            <div class="card">
                <img src="{{ place.image.url }}" class="card-img-top" alt="{{ place.name }}">
                <div class="card-body">
                    <h2 class="card-title">{{ place.name }}</h2>
                    <a class="btn btn-outline-primary" href="{% url 'places:about-page' place.id %}">About Us</a>

                </div>
            </div>
        {% endfor %}
    {% else %}
    <h1>Places not found</h1>
    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}


